#expertise {
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 ;
  margin: auto;
}

.expertise_container {
  text-align: center;
}
.title{
  align-items: center;
}
.skillsTitle
.skillsTitle2{
  align-items: center;
  font-weight: bold;

}

.progress-container {
  display: flex;
  flex-direction: column;
}

.skillsContainer {
  flex-grow: 1;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
}

.expertiseName {
  position: relative;
  justify-content: left;
  flex-wrap: wrap;
  right: 10rem;
  top: 5px;
}

.objective {
  max-width: 30rem;
  height: 10rem;
  font-size: 1.1rem;
  background-color: #ff176b;
  border-radius: 5%;
  color: black;
  font-weight: 500;
  justify-content:flex-end
  
}

.expertise-content {
  display: flex;
  gap: .1rem;
  margin-left: 3rem;
  margin-top: 40px;

}


.Baxo {
  width: 450px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  animation: float 4s infinite linear; /* Add animation for floating effect */
}

@keyframes float {
  0% {
    transform: translate3d(0, 0, 0); /* Initial position */
  }
  50% {
    transform: translate3d(20px, 20px, 20px); /* Float upwards and to the right */
  }
  100% {
    transform: translate3d(0, 0, 0); /* Return to initial position */
  }
}


.skill-mf {
  width: 300px;
  height: 200px;
  margin: 0.5rem;
}

.skill {
  margin-bottom: 10px;
}

.skillsTitle span {
  font-weight: 100;
  font-size: 13px;
  text-align: center;
}

/* Skills bars */
.progress {
  height: 1.5rem;
  background-color: #f0f0f0;
}

.progress-bar {
  position: relative;
  height: 1.5rem;
  background-color: #ff176b;
  transition: background-color 0.3s ease,transform 0.3s ease; /* Added transition for smoother hover effect */
}

.progress-bar:hover {
  background-color: #f43ec1; 
  transform: scale(1.05);
}

.expertise {
  position: relative;
  right: 12rem;
  top: 1.4rem;
}

.pull-right1 {
  position: relative;
  left: 10rem;
  top: 1.5rem;
}

.pull-right2 {
  position: relative;
  left: 10rem;
  top: 1.4rem;
}

.pull-right3 {
  position: relative;
  left: 8rem;
  top: 1.5rem;
}

.pull-right4 {
  position: relative;
  left: 9rem;
  top: 1.5rem;
}

.pull-right5 {
  position: relative;
  left: 10rem;
  top: 1.5rem;
}

.pull-right6 {
  position: relative;
  left: 9rem;
  top: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .expertise-content {
    flex-direction: column;
    padding: auto;
    display: flex;
    gap:0;
    margin-left: 2rem;
  }
  .expertiseName{
   margin-left: 7rem;
   width: 20rem;
  }
  .objective{
    font-size: 1rem;
    height: 180px;
  }
  .Baxo {
    width: 70%;
    height: auto;
  }
  .skill-mf {
    width: auto;
    height: auto;
    margin: auto;
  }
  .expertiseName {
    margin-right: 0%;
    padding: 0%x;
  }
  .pull-right1 {
    left: 0rem;
  }
  .pull-right2 {
    left: 0rem;
  }
  .pull-right3 {
    left: 0rem;
  }
  .pull-right4 {
    left: 0rem;
  }
  .pull-right5 {
    left: 0rem;
  }
  .pull-right6 {
    left: 0rem;
  }
}

@media screen and (max-width: 480px) {
  .expertise-content {
    flex-direction: column;
    padding: auto;
    display: flex;
    gap:0;
    margin-left: 10rem;
  }
  .Baxo {
    width: 90%;
    height: auto;
  }
  .skill-mf {
    width: auto;
    height: auto;
    margin: auto;
  }
  .expertise{
    right: 6rem;
  }
  .expertiseName {
    margin-right: 0%;
    padding: 0%x;
  }
  .pull-right1 {
    left: 4rem;
  }
  .pull-right2 {
    left: 4rem;
  }
  .pull-right3 {
    left: 2.5rem;
  }
  .pull-right4 {
    left: 3rem;
  }
  .pull-right5 {
    left: 4rem;
  }
  .pull-right6 {
    left: 3.5rem;
  }
}
