* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

body {
  background: black;
  overflow: hidden;
  overflow-y: scroll;
}
section {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}