/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}


.desktopMenuListItem 
{
  margin-right: 20px; /* Adjust the margin as per your preference */
  cursor: pointer;
}
.desktopMenuListItem:hover {
  color: rgb(14, 13, 13);
  border-bottom: 3px solid rgb(252, 247, 248);
}

.navbar.sticky {
  padding: 15px 0;
  background-image:linear-gradient( #ff176b, black);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #ff176b;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #ff176b;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #ff176b;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu Button */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ff176b;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* For small screen sizes */
@media screen and (max-width: 768px) {
  .navbar .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #ff176b;
      padding: 20px 0;
      text-align: center;
      transition: all 0.3s ease;
      transform: translateY(-100%);
  }
  
  .desktopMenuListItem 
{
  display: flex;
 justify-content: center;
  align-items:flex-end;
  cursor: pointer;
  right: 0;
}
  .desktopMenuListItem:hover {
    color: rgb(14, 13, 13);
    border-bottom: 3px solid rgb(252, 247, 248);
  }
  .navbar .menu.open {
      display:list-item;
      transform: translateY(0);
  }

  .navbar .menu li {
      margin-bottom: 15px;
  }

  /* .navbar .menu li:last-child {
      margin-bottom: 0;
  } */

  .navbar .menu li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      transition: color 0.3s ease;
  }

  .navbar .menu li a:hover {
      color: #fff;
  }

  .menu-btn {
      display: block;
      position: relative;
  }
}